<div class="problem">
	<h2><%= @problem.title %></h2>
	<div class="problem_body">
	<%= @problem.body %>
	</div>
	
	<%= displayTags(@problem) %>

	

	<%= form_tag :action => "checkanswer", :class => 'form-control' do  %>
		<%= text_field_tag :answer, "Enter your answer...", class: "answer-field form-control", autofocus: true  %>
		<%= submit_tag "Submit", :class => "btn btn-success active", method: :post %>
	<% end %>
</div>

<% if session[:user_admin] %>
	<div class="edit_problem">
		<%= button_to "Edit", edit_problem_path(@problem), :class => "edit btn btn-warning", method: :get, :style => "display: inline-block;"  %>
		<%= button_to "Delete", problem_path(@problem), method: :delete, :class => "delete btn btn-danger", :style => "display: inline-block;" %>
	</div>	
<% end %>
