<%
	placeholder = "Enter your answer..."

%>
<div class="problem">
	<h2><%= @problem.title %></h2>
	<div class="problem_body">
	<%= @problem.body %>
	</div>
	
	

	

	<%= form_tag :action => "checkanswer", :class => 'form-control' do  %>
		<%= text_field_tag :answer, placeholder, class: "answer-field form-control", autofocus: true  %>
		<%= hidden_field_tag :time_accessed, Time.now %>
		<%= submit_tag "Submit", :class => "btn btn-success active", method: :post %>
	<% end %>
	<input class="btn btn-warning" id="showhide-answer" value="Show Answer" />
	<p class="solution" style=""><%= @problem.solution %></p>
	<%= displayTags(@problem) %>
</div>

<% if session[:user_admin] %>
	<div class="edit_problem">
		<%= button_to "Edit", edit_problem_path(@problem), :class => "edit btn btn-warning", method: :get, :style => "display: inline-block;"  %>
		<%= button_to "Delete", problem_path(@problem), method: :delete, :class => "delete btn btn-danger", :style => "display: inline-block;" %>
	</div>	
<% end %>

<script>
	var placeholder = "<%= placeholder %>"


	window.onload = function(){
		$('#showhide-answer').click(function(){
			if ($(this).val() == "Show Answer") {
				$(this).val("Hide Answer");
				$('.solution').show();
				MathJax.Hub.Queue(["Typeset", MathJax.Hub]);

			}
			else {
				$(this).val("Show Answer")
				$('.solution').hide();
			}
			

		});

		 $('.answer-field').focusin(function() {
	        $(this).data(placeholder, $(this).attr('placeholder'))
	        $(this).attr('placeholder', '');
	      });

	      $('.answer-field').focusout(function() {
	          $(this).attr('placeholder', input.data(placeholder));
	      });	
		MathJax.Hub.Queue(["Typeset", MathJax.Hub]);

	}


</script>

<style>
form {
	display: inline;


}

.answer-field {
	margin-top: 10px;
	margin-bottom: 10px;
}

#showhide-answer {
	margin-left: 10px;


}

.solution {
	display:none;
	margin-top: 15px;
	padding: 10px;
	border-radius: 5px;
	border: solid 1px #DBDBDB;
	background: #F3F3F3;
}
</style>