
<div class="problem">
	<h2><%= @problem.title %></h2>
	<div class="problem_body">
	<%= simple_format(@problem.body) %>
	</div>
	
	

	

	<%= form_tag :action => "checkanswer", :class => 'form-control' do  %>
		<%= text_field_tag :answer, params[:answer], class: "answer-field form-control", :placeholder => "Enter your Answer...", autofocus: true  %>
		<%= hidden_field_tag :time_accessed, Time.now %>
		<%= submit_tag "Submit", :class => "btn btn-success active", method: :post %>
	<% end %>
	<input class="btn btn-warning" id="showhide-answer" value="Show Answer" />
	<div class="solution">
		<%= simple_format(@problem.solution) %>
	</div>
	<%= displayTags(@problem) %>
</div>

<% if session[:user_admin] %>
	<div class="edit_problem">
		<%= button_to "Edit", edit_problem_path(@problem), :class => "edit btn btn-warning", method: :get, :style => "display: inline-block;"  %>
		<%= button_to "Delete", problem_path(@problem), method: :delete, :class => "delete btn btn-danger", :style => "display: inline-block;" %>
	</div>	
<% end %>

<script>
	MathJax.Hub.Queue(["Typeset", MathJax.Hub]);


	$(document).ready(function(){
		$('#showhide-answer').click(function(){ //eventually will use serverside points to get users answers
			if ($(this).val() == "Show Answer") {
				$(this).val("Hide Answer");
				$('.solution').show();
				MathJax.Hub.Queue(["Typeset", MathJax.Hub]);

			}
			else {
				$(this).val("Show Answer")
				$('.solution').hide();
			}
			

		});	

	});	


</script>

<style>
form {
	display: inline;


}

.answer-field {
	margin-top: 30px;
	margin-bottom: 10px;
}

#showhide-answer {
	margin-left: 10px;


}

.solution {
	display:none;
	margin-top: 15px;
	padding: 10px;
	border-radius: 5px;
	border: solid 1px #DBDBDB;
	background: #F3F3F3;
}
</style>