<!DOCTYPE html>
<html>
<head>
  <title>Prep - CS, Finance, Consulting Interview Training</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  <%= mathjax_tag %>
  <script>
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
       });

  </script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	    <div class="about">
		  <h1>
		  <%= link_to "techsurge", root_path, :class => "logo" %>
		  </h1>
		  
		  <h2>Your one source for the best interview questions - train for your next CS, Finance, or Consulting interview</h2>
		  
		  <div class="user-dashboard">
		    <br />
		    <ul>
		        <h3>User Dashboard</h3>
		    <% if session[:user_id] %>
		          <li><%= link_to 'Account', edit_user_path(session[:user_id]) %></li>
		          <li><%= link_to 'Dashboard', '/dashboard' %></li>
		          <li><%= link_to 'Sign out', logout_path(session[:user_id]) %></li>
		    <% else %>
		    	  <li><%= link_to 'Sign In', login_path %></li>
		    	  <li><%= link_to 'Create new account', new_user_path %></li>    
	   		<% end %>
		  </div>
		  
		  <p>100% free and no B.S guaranteed!</p>
		    
		  <p>Last updated <%= time_ago_in_words(Problem.last.created_at) if Problem.last != nil  %> ago</p>
		  	<% if session[:user_admin] %>
	     		<%= button_to 'Add a problem', new_problem_path, :class => "add_problem btn btn-danger btn-lg", method: :get %></li></button>
			<% end %>
		</div>
		<div id="main-content">
			<div id="notices">
				<% flash.each do |name, msg| %>
				  <div id="flash-message">
				  	<%= content_tag :div, msg, :id => "flash_#{name}" %>
				  </div>
				<% end %>
			</div>
			<%= yield %>
		</div>
	</div>
</body>
</html>


